<!--       ID                   nombre                           Horario-->
<!--   115610655        Hector Carvajal Hernandez                1pm-->
<!--   116070969      Jean Francis Abarca Bermudez               10am-->
<!--   702240573        Junior Juárez Centeno                    1pm-->
<!--   402200718          Fabio Campos Rojas                     1pm-->

<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>
    <script language = "javascript" src="/javascripts/p5.js"></script>
    <script language = "javascript" src="/javascripts/Util.js"></script>
    <script language = "javascript" src="/javascripts/Casilla.js"></script>
    <script language = "javascript" src="/javascripts/Tablero.js"></script>
    <script language = "javascript" src="/javascripts/Model.js"></script>
    <script language = "javascript" src="/javascripts/init_script.js"></script>
    <link rel='shortcut icon' href='favicon.ico' type='image/x-icon'/ >
    <link rel="stylesheet" href="/css/styles.css">
  </head>
    <h1>Proyecto #1 Paradigmas de programacion</h1>
    <h1>II Ciclo, 2016<h1>
    <BODY BGCOLOR="red">
    <p id="demo">Laberinto</p>
    <div id="game">
        <div class="datos">
              Filas:<input type="text" id="Filas" value="15"><br>
              Columnas: <input type="text" id="Columnas" value="15"><br>
              <button type="button" id="generar">Generar laberinto!</button>
              <button id="setup">Autocompletar</button><br>
              <button id="guardar">Guardar localmente.</button>
              <button id="recuperar">Recuperar localmente.</button>

              <button id="guardarBD">Guardar laberinto!</button>
              <button id="recuperarBD">Recuperar laberinto!</button>

              <select id="mySelect">
                <option value="Local">Local
                <option value="Online">Online
              </select>
        </div>
        <div class="canvas" id="canvas">

        </div>
    </div>
    <br>
    <br>
    <div>

    </div>

  </body>
  <script>

  </script>

  </html>
