/*       ID                   nombre                           Horario
//     115610655        Hector Carvajal Hernandez                1pm
//     116070969      Jean Francis Abarca Bermudez               10am
//     702240573        Junior Juárez Centeno                    1pm
//     402200718          Fabio Campos Rojas                     1pm
*/

.datos {
  float: left;
  margin-right: 100px;
  width: 332px;

}
.canvas {
  float: left;
  margin-right: 5px;
}

.invisible{
  visibility : hidden;
}

.visible{
  visibility : visible;
}

#Filas{
  float: right;
  padding-top: 2px;
}
#game {
  width: 1000px;
height: 400px;
border: 1px solid red;
margin-right: 10px;
float: left;
}
